@use '@/styles/variables' as *;

.title {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  line-height: 45px;
  color: $color-primary;
  text-align: center;
}

.withLines {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 34px;

  &::before,
  &::after {
    content: '';
    flex: 0 1 360px;
    height: 1px;
    margin-top: 18px;
    background-color: $color-gray-light;
  }
}