@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-bottom: 1px solid $color-divider;
}

.list {
  display: flex;
  gap: 119px;

  @include below($bp-xl) {
    gap: 64px;
  }

  @include below($bp-lg) {
    gap: 32px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: $fs-xs;
  font-weight: $fw-medium;
  color: $color-text-light;
  white-space: nowrap;

  @include below($bp-md) {
    &:not(:nth-child(2)) {
      display: none;
    }
  }
}

.highlight {
  font-weight: $fw-semibold;
  color: $color-highlight;
}