@use '@/styles/variables' as *;

$intro-spacing: 39px;

.main {
  display: flex;
  flex-direction: column;
  gap: $section-spacing;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: $intro-spacing;
}